
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html,main{
  min-height: 100%;
}


/* Dividindo a DIV recipiente*/
#recipiente{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

#recipiente > #cabecalho-pagina{
  grid-column:  1 / 3; /*Vai da calha 1 até a calha 3*/
  grid-row:     1 / 2; /*Vai da calha 1 até a calha 2*/
  background-color: #F5F7FB;  
}

#recipiente > #lateral{
  grid-column:  1 / 2; /*Vai da calha 1 até a calha 2*/
  grid-row:     2 / 3; /*Vai da calha 2 até a calha 3*/
  background-color:  #F5F7FB;  
}

#recipiente > #principal{
  grid-column:  2 / 3; /*Vai da calha 2 até a calha 3*/
  grid-row:     2 / 3; /*Vai da calha 2 até a calha 3*/
  background-color:  #F5F7FB;  
}

#recipiente > #rodape-pagina{
  grid-column:  1 / 3; /*Vai da calha 1 até a calha 3*/
  grid-row:     3 / 4; /*Vai da calha 3 até a calha 4*/
  background-color: #F5F7FB;  
}


/* Dividindo o HEADER recipiente*/
header {
  display: grid;                    /*Dividir o header em grip*/
  grid-template-columns:500px 1fr;  /*2 colunas: Esquerda --> Tamanho fixo
                                                 Direita  --> O restante */
  grid-template-rows: auto auto;     /*2 linas:   Acima    --> Tamanho fixo
                                                 Abaixo   --> O restante */ 

}

header #nome-site {                      
  grid-column:  1 / 2; /*Vai da calha 1 até a calha 2*/
  grid-row:     1 / 2; /*Vai da calha 1 até a calha 2*/
  margin-bottom: auto;
  font-family: Poppins, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #1F4D5C;
  }
  
  header #slogan-site {
    grid-column:  1 / 2;  /*Vai da calha 1 até a calha 2*/
    grid-row:     2 / 3;  /*Vai da calha 2 até a calha 3*/
    margin-top: auto;
    font-family: Poppins, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #6B7280;
  }

header #menu-principal{
  grid-column:  2 / 3; /*Vai da calha 2 até a calha 3*/
  grid-row:     1 / 3; /*Vai da calha 1 até a calha 3*/
  font-family: Inter, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  justify-items: end;
  color: #6B7280;
}

#menu-principal ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap:15px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu-principal li {
  display: inline-block;
  border-radius: 20%;
  background-color: #ebebeb;

}

#menu-principal a {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5em 1.5em 0.5em;
  color: currentColor;
  text-decoration: none;
}