@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html, main {
    min-height: 100%;
    margin: 0;
}

#principal {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    padding: 15px;
    background-color: #F5F7FB;
}


#imagem-logo #imagem {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%; 
    max-width: 350px; 
    height: auto; 
    display: block;
    margin-left: auto;   
    margin-right: auto;  
    margin-top: 80px;      
    margin-bottom: 50px;     
}


#cadastro {
    grid-column: 2 / 3;  
    grid-row: 1 / 3;  
    font-family: Inter, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    color: #6B7280;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 40px; 
    max-width: 350px; 
    margin: 50px auto; 
}


#cadastro #texto-cadastrar {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    color: #6B7280; 
}


.rotulo {
    font-size: 10px;
    margin-bottom: 2px;
}


#cadastro input {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    box-sizing: border-box; 
    font-family: inherit;
}


#btn-cadastrar {
    width: 100%;
    padding: 15px;
    background-color: #1F4D5C; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-weight: bold;
    font-size: 16px;
    cursor: pointer; 
    margin-top: 15px; 
    transition: background-color 0.3s, transform 0.1s;
}

#btn-cadastrar:hover {
    background-color: #2D6F85; 
}

#btn-cadastrar:active {
    transform: scale(0.992); 
    background-color: #0a141d; 
}


#voltar-login {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}

#voltar-login a {
    text-decoration: none;
    color: #1F4D5C;
    font-weight: 500;
}

#voltar-login a:hover {
    text-decoration: underline;
}


#botao-voltar {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    text-decoration: none; 
    color: #1F4D5C;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    transition: color 0.4s;
}

#botao-voltar:hover {
    color: #2D6F85;
}